<div class="col">
    <form class="form addinventoryform">
        <legend class="text-center h3">Input Your Inventory</legend>
        <div class="mb-3">
            <label for="manufacturer" class="form-label">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturer" aria-describedby="manufacturer">
        </div>
        <div class="mb-3">
            <label for="mode" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" aria-describedby="model">
        </div>
        <div class="mb-3">
            <label for="type_id" class="form-label">Type Id</label>
            <input type="text" class="form-control" id="type_id" aria-describedby="type_id">
        </div>
        <div class="mb-3">
            <label for="serial_number" class="form-label">Serial Number</label>
            <input type="text" class="form-control" id="serial_number" aria-describedby="serial_number">
        </div>
        <div class="mb-3">
            <label for="caliber" class="form-label">Caliber</label>
            <input type="text" class="form-control" id="caliber" aria-describedby="caliber">
        </div>
        <div class="mb-3">
            <label for="barrel_len" class="form-label">Barrel Length</label>
            <input type="text" class="form-control" id="barrel_len" aria-describedby="barrel_len">
        </div>
        <div class="mb-3">
            <label for="action" class="form-label">Action</label>
            <input type="text" class="form-control" id="action" aria-describedby="action">
        </div>
        <div class="mb-3">
            <label for="purchase_date" class="form-label">Date of Purchase</label>
            <input type="text" class="form-control" id="purchase_date" aria-describedby="purchase_date">
        </div>
        <div class="mb-3">
            <label for="sloc" class="form-label">Storage Location</label>
            <input type="text" class="form-control" id="sloc" aria-describedby="sloc">
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Cost</label>
            <input type="text" class="form-control" id="cost" aria-describedby="cost">
        </div>
        {{!-- <div class="mb-3">
            <label for="user_id" class="form-label">User Id</label>
            <input type="text" class="form-control" id="user_id" aria-describedby="user_id">
        </div> --}}
        </div>
        <button type="submit" id="addinventory2" class="btn btn-success">Add to Inventory</button>
        <a id="cancelinventory" href="/mysafe" role="button" class="btn btn-warning">Cancel</a>
    </form> 
</div>


<script src="/js/addinventory.js"></script>
