
  <div class="row align-items-start">
    <div class="col">
      <h1 style="text-align: center;">Gun Safety articles</h1>
      
      <div class="list-group">
  <a href="https://www.healthychildren.org/English/safety-prevention/at-home/Pages/Handguns-in-the-Home.aspx" class="list-group-item list-group-item-action " aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Guns in the Home</h5>
      
    </div>
    <p class="mb-1">Keep your children safe by following these tips!</p>
  
  </a>
  <a href="https://gunsafetyrules.nra.org/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">NRA safety rules</h5>
      
    </div>
    <p class="mb-1">Here are some guidelines from the NRA to follow for gun saftey.</p>
  
  </a>
  <a href="https://gunivore.com/shotguns/rules-of-proper-shotgun-safety/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Shotgun safety </h5>
      
    </div>
    <p class="mb-1">Tools to be safe with a shotgun.</p>
    
  </a>
</div>
      
    </div>
    <div class="col">

      <div class="card" style="width: 30rem;">


        <img src="./images/GunSafety.png" class="card-img-top" alt="...">
        <div class="card-body text-center" >
          <p class="card-text">Welcome to gunSAFE! Our mission is to provide families safety information and   </p>
           <a class="btn btn-primary fs-5" href="/newuser" role="button">Create your account</a>
 
           <p class="mt-3"> or </p>
        <a class="btn btn-primary fs-5" href="/login" role="button">Login</a>

        </div>

      </div>

    
    </div>
    <div class="col">
       <h1 style="text-align: center;">Gun Maintenance articles</h1>
      
      <div class="list-group">
  <a href="https://www.nrablog.com/articles/2017/4/regular-gun-maintenance-can-help-produce-longer-running-safer-firearms" class="list-group-item list-group-item-action " aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Expand your guns life and make it safer</h5>
      
    </div>
    <p class="mb-1">Instructions on how to make your gun safer by maintaining it properly.</p>
  
  </a>
  <a href="" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">NRA safety rules</h5>
      
    </div>
    <p class="mb-1">Here are some guidelines from the NRA to follow for gun saftey.</p>
  
  </a>
  <a href="https://gunivore.com/shotguns/rules-of-proper-shotgun-safety/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Shotgun safety </h5>
      
    </div>
    <p class="mb-1">Tools to be safe with a shotgun.</p>
    
  </a>
    </div>
  </div>







