<div class="card" style="width: 18rem;">
  <img src="./images/safe.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">mySafe</h5>
    <p class="card-text">insert name</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="btn btn-primary dropdown-toggle fs-5" href="/" role="button" id="showInventory">My Inventory</a></li>
      <li class="list-group-item"><a class="btn btn-primary fs-5" href="/" role="button">Gun Catalog</a></li>
      <li class="list-group-item"><a class="btn btn-primary fs-5" href="/" role="button" id="addInventory">Add Inventory</a></li>
    </ul>
 </div>

<script src="/js/mySafe.js"></script>