<div>
    <h1>10 Commandments of Firearms Safety.</h1>

    <ol>
        <li>Always Keep the Muzzle Pointed in a Safe Direction</li>
        <li>Firearms Should Be Unloaded When Not Actually in Use</li>
        <li>Don’t Rely on Your Gun’s “Safety”</li>
        <li>Sure of Your Target and What’s Beyond It</li>
        <li>Use Correct Ammunition</li>
        <li>If Your Gun Fails to Fire When the Trigger is Pulled, Handle with Care!</li>
        <li>Always Wear Eye and Ear Protection When Shooting</li>
        <li>Be Sure the Barrel is Clear of Obstructions Before Shooting</li>
        <li>Don’t Alter or Modify Your Gun, and Have Guns Serviced Regularly</li>
        <li>Learn the Mechanical and Handling Characteristics of the Firearm You are Using</li>
    </ol>
</div>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/chMQqClsLMQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>