<div class="row justify-content-center">

    <div class="card col-8 p-0">
    <div class="card-header text-white bg-dark">
        <h1 class="card-title">10 Commandments of Firearms Safety.</h1>
    </div>
    <div class="card-body text-center">
        <ol class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item">Always Keep the Muzzle Pointed in a Safe Direction</li>
            <li class="list-group-item">Firearms Should Be Unloaded When Not Actually in Use</li>
            <li class="list-group-item">Don’t Rely on Your Gun’s “Safety”</li>
            <li class="list-group-item">Sure of Your Target and What’s Beyond It</li>
            <li class="list-group-item">Use Correct Ammunition</li>
            <li class="list-group-item">If Your Gun Fails to Fire When the Trigger is Pulled, Handle with Care!</li>
            <li class="list-group-item">Always Wear Eye and Ear Protection When Shooting</li>
            <li class="list-group-item">Be Sure the Barrel is Clear of Obstructions Before Shooting</li>
            <li class="list-group-item">Don’t Alter or Modify Your Gun, and Have Guns Serviced Regularly</li>
            <li class="list-group-item">Learn the Mechanical and Handling Characteristics of the Firearm You are Using</li>
        </ol>
        <div class="mt-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/chMQqClsLMQ" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>